apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://158.160.48.179:6443
  name: k8s-cluster
contexts:
- context:
    cluster: k8s-cluster
    user: github-actions
    namespace: cicd
  name: github-actions-context
current-context: github-actions-context
users:
- name: github-actions
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6ImVHc1RWUDAyS1ZCYVM5RUhDNnp4eXNKU29zQUFEYy0zcmdWQzZhU3RYWWcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJjaWNkIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6ImdpdGh1Yi1hY3Rpb25zLXRva2VuIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImdpdGh1Yi1hY3Rpb25zIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiNTU3YTJiOGYtOTE0My00NDg5LTk1ZDAtMzRlZTYxZTkzNmIxIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmNpY2Q6Z2l0aHViLWFjdGlvbnMifQ.Jktgn4t2nkmgG5W0MfRAUPwfa-pS8xzjNY5265Bzk3O07-35Us0I-Mh_IdG4PbNNXUe2d2c_0pjDISoB-OMq7cQXP6RT8NmnRgdgw5swOwBV9ZKVWIzE9LNXTI3LXNRUSJuOnwxAYy8v564-TOUWlJ2gpwgZsXlBcZs2mhJRJgdrMLmu4Mjx71aEdTmqeWx93e627cy_Z-Zp7fBXkt0nFFtX8edcazSIeq8pj8fTfaaC401Pxxs5ex8OVWIubNEnhChz8BFwE9iFNcatlV578ST9BbF7mx4VEzKQdZ8iriJGPZrjTkisFrEexY5NZuuSuWvdDCYpaLf52N7pYtB6ig
