apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-diplom-app
  namespace: cicd
  labels:
    app: devops-diplom-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: devops-diplom-app
  template:
    metadata:
      labels:
        app: devops-diplom-app
    spec:
      imagePullSecrets:
        - name: yc-registry-secret
      containers:
        - name: app
          image: cr.yandex/crplsrum4vurc408russ/devops-diplom-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
