apiVersion: v1
kind: Service
metadata:
  name: diploma-app
  namespace: default
spec:
  selector:
    app: diploma-app
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  type: ClusterIP
